<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Our Team</title>
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/style.css" rel="stylesheet"/>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Dashboard</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/group">Group</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead" style="background-image: url('images/img/bg-masthead.jpg')">
            <div style="background-color: rgba(0, 0, 0, 0.5); height: 100%;">
                <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                    <div class="d-flex justify-content-center">
                        <div class="text-center">
                            <h1 class="mx-auto my-0 text-uppercase">Meet Our Team</h1>
                            <h2 class="text-white-50 mx-auto mt-2 mb-5">Berikut Profil Anggota Kelompok LCI</h2>
                            <a class="btn btn-primary" href="#group">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="projects-section bg-light" id="group">
            <div class="content-wrapper">
                <div class="person px-0 px-lg-0">
                    <!-- Featured Project Row-->
                    <div class="row gx-0 mb-4 mb-lg-5 ">
                        <div class="col-xl-7 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="images/img/foto.png" alt="..." /></div>
                        <div class="col-xl-5 col-lg-8">
                            <div class="featured-text" style="text-align: justify;">
                                <h4>Jessica Valencia</h4>
                                <p class="text-black-50 mb-0" style="word-wrap: break-word">Saya adalah mahasiswa berusia 20 tahun semester 5 Universitas MDP yang sangat haus akan pengetahuan. Hobi saya adalah semua kegiatan yang berkaitan dengan alam, hewan, pengetahuan, dan music. Saya selalu percaya bahwa semua hal punya waktunya tersendiri. Tuhan telah menyiapkan yang terbaik baik kita.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="person px-0 px-lg-0">
                    <!-- Featured Project Row-->
                    <div class="row gx-0 mb-4 mb-lg-5 ">
                        <div class="col-xl-7 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="images/img/cyn.png" alt="..." /></div>
                        <div class="col-xl-5 col-lg-8">
                            <div class="featured-text" style="text-align: justify;">
                                <h4>Cyndi Claudia Wang</h4>
                                <p class="text-black-50 mb-0" style="word-wrap: break-word">Saya adalah mahasiswa berusia 19  tahun semester 5 Universitas MDP jurusan Sistem Informasi. Cita-cita saya adalah membangun tempat bermain untuk anjing di Palembang. Hobby saya adalah memelihara anjing dan mempunyai banyak uang untuk membangun 1 shelter hewan yang dapat menyelamatkan hewan-hewan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="person px-0 px-lg-0">
                    <!-- Featured Project Row-->
                    <div class="row gx-0 mb-4 mb-lg-5 ">
                        <div class="col-xl-7 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="images/img/fio.png" alt="..." /></div>
                        <div class="col-xl-5 col-lg-8">
                            <div class="featured-text" style="text-align: justify;">
                                <h4>Fiolin Meldy</h4>
                                <p class="text-black-50 mb-0" style="word-wrap: break-word">Saya adalah mahasiswa semester 5 jurusan Sistem Informasi di Universitas MDP. Saat ini saya berusia 20 tahun. Saya suka bermain dan bercerita dengan anak-anak. Saya juga sangat suka melakukan hal-hal yang belum pernah saya lakukan dan mengeksplor hal-hal baru di luar akademik, seperti memotret dan travelling. Saya terus berusaha untuk belajar dari setiap pengalaman.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="person px-0 px-lg-0">
                    <!-- Featured Project Row-->
                    <div class="row gx-0 mb-4 mb-lg-5 ">
                        <div class="col-xl-7 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="images/img/ben.jpg" alt="..." /></div>
                        <div class="col-xl-5 col-lg-8">
                            <div class="featured-text" style="text-align: justify;">
                                <h4>Benny Candra</h4>
                                <p class="text-black-50 mb-0" style="word-wrap: break-word">Saya adalah mahasiswa mdp berusia 20 tahun saya tinggal di kota palembang, talang jambe jalan lebak sari no 124. hobi saya adalah bermain game online dan juga bermain basket dan bulu tangkis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="person px-0 px-lg-0">
                    <!-- Featured Project Row-->
                    <div class="row gx-0 mb-4 mb-lg-5 ">
                        <div class="col-xl-7 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="images/img/dim.jpg" alt="..." /></div>
                        <div class="col-xl-5 col-lg-8">
                            <div class="featured-text" style="text-align: justify;">
                                <h4>Dimas Saputra</h4>
                                <p class="text-black-50 mb-0" style="word-wrap: break-word">Saya muhammad dimas saputra, biasanya dipanggil dimas. saya lahir dan dibesarkan di kota tercinta di palembang, saya memiliki beragam hobi dan kegiatan yang saya jalani dengan penuh semangat dan happy. salah satu hobi saya adalah berolahraga, terutama bermain bulutangkis dan berenang.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy;  LCI Group 2024</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="javascripts/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>